- content_for :head do
  %title Welcome
  = stylesheet_pack_tag 'leads'
  = javascript_pack_tag 'leads'
- if @lead.try(:errors).try(:any?) || @errors.try(:any?)
  .errors
    %ul
    - @lead.try(:errors).try(:full_messages).try(:each) do |message|
      %li= message
    - @errors.try(:each) do |message|
      %li= message
      
#vue-container
