<h1>The Company</h1>

<p>Hi. What you're seeing right now is some information about The Company. We can't tell you too much right now but you can be sure your data is safe with us.</p>

<p>So if you'd like us to call you and tell you more about our offer, please don't hesitate to fill in the form below, click "Send" and we'll contact you as soon as possible.</p>

<p>Have a great day!</p>

<%= render 'form', object: object %>
